# file: cnf/znote-xtor.host-name.cnf
[MainSection]

# multiple projects support
znote_xtor_project = znote-xtor

# The logging directory 
LogDir = %ProductInstanceDir%/dat/log

# the default Log file
LogFile =         %LogDir%/%ProductName%.log

# the default chars separating the time from the txt
LogTimeToTextSeparator = ###

# whether or not to log to a file
LogToFile =          1

# the time format of the logging 
TimeFormat =         YYYY.MM.DD hh:mm:ss

# the time format of the logging 
DbType 	=         postgres

# the log file
LogFile=%LogDir%/%ProductName%.%YYYY%.%MM%.%DD%.log

# Whether or not to print messages to STDOUT and / or STDERR
PrintConsoleMsgs =               1

# Whether or not to pring INFO messages
PrintInfoMsgs =                  1                             

# Whether or not to pring WARNING messages
PrintWarningMsgs =               1                             

# Whether or not to pring ERROR messages
PrintErrorMsgs =                 1                             

# Whether or not to pring DEBUG messages
PrintDebugMsgs =                 1

# Whether or not to pring TRACE messages
PrintTraceMsgs =                 1 

Emails=yordan.georgiev@gmail.com
# changed the propmpt
PS1="$znote_xtor_project \u@\h [\d \t] [\w] $ \n\n "

# the last entry is always ignored - this is a bug in the cnf parser 
foo=bar

# eof file: cnf/znote-xtor.dev.host-name.cnf
